.sprite {
    background-image: url("sprite.png");
    background-repeat: no-repeat;
    background-size: 286.4em 9.8em;
}

.sprite-amount {
    width: 1.2em;
    height: 1.2em;
    background-position: -0.1em -0.1em;
}

.sprite-antonio {
    width: 3em;
    height: 3.1em;
    background-position: -1.5em -0.1em;
}

.sprite-arca {
    width: 2.5em;
    height: 3.2em;
    background-position: -4.7em -0.1em;
}

.sprite-arcana11 {
    width: 5.4em;
    height: 5.4em;
    background-position: -7.4em -0.1em;
}

.sprite-arcana15 {
    width: 5.4em;
    height: 5.4em;
    background-position: -13em -0.1em;
}

.sprite-arcana16 {
    width: 5.4em;
    height: 5.4em;
    background-position: -18.6em -0.1em;
}

.sprite-arcana17 {
    width: 5.4em;
    height: 5.4em;
    background-position: -24.2em -0.1em;
}

.sprite-arcana18 {
    width: 5.4em;
    height: 5.4em;
    background-position: -29.8em -0.1em;
}

.sprite-arcana19 {
    width: 5.4em;
    height: 5.4em;
    background-position: -35.4em -0.1em;
}

.sprite-arcana4 {
    width: 5.4em;
    height: 5.4em;
    background-position: -41em -0.1em;
}

.sprite-arcana5 {
    width: 5.4em;
    height: 5.4em;
    background-position: -46.6em -0.1em;
}

.sprite-arcana6 {
    width: 5.4em;
    height: 5.4em;
    background-position: -52.2em -0.1em;
}

.sprite-arcana7 {
    width: 5.4em;
    height: 5.4em;
    background-position: -57.8em -0.1em;
}

.sprite-area {
    width: 1.3em;
    height: 1.5em;
    background-position: -63.4em -0.1em;
}

.sprite-armor {
    width: 1.4em;
    height: 1.4em;
    background-position: -64.9em 0.1em;
}

.sprite-axe {
    width: 1.6em;
    height: 1.6em;
    background-position: -66.5em -0.1em;
}

.sprite-axe_ {
    width: 1.4em;
    height: 1.4em;
    background-position: -68.3em -0.1em;
}

.sprite-bible {
    width: 1em;
    height: 1.5em;
    background-position: -69.9em -0.1em;
}

.sprite-bible_ {
    width: 1em;
    height: 1.5em;
    background-position: -71.1em -0.1em;
}

.sprite-bird1 {
    width: 1.6em;
    height: 1.6em;
    background-position: -72.3em 0.05em;
}

.sprite-bird2 {
    width: 1.6em;
    height: 1.6em;
    background-position: -74.1em 0.05em;
}

.sprite-bird_ {
    width: 1.6em;
    height: 1.6em;
    background-position: -75.9em 0.05em;
}

.sprite-bone {
    width: 1.4em;
    height: 1.4em;
    background-position: -77.7em 0.25em;
}

.sprite-cart {
    width: 1.6em;
    height: 1.6em;
    background-position: -79.3em -0.05em;
}

.sprite-cat {
    width: 1.5em;
    height: 1.5em;
    background-position: -81.1em 0.05em;
}

.sprite-cat_ {
    width: 1.5em;
    height: 1.5em;
    background-position: -82.8em -0.1em;
}

.sprite-cavallo {
    width: 2.8em;
    height: 3.2em;
    background-position: -84.5em -0.1em;
}

.sprite-cherry {
    width: 1.4em;
    height: 1.4em;
    background-position: -87.5em -0.1em;
}

.sprite-christine {
    width: 2.1em;
    height: 3.3em;
    background-position: -89.1em -0.1em;
}

.sprite-clerici {
    width: 2.6em;
    height: 3.1em;
    background-position: -91.4em -0.1em;
}

.sprite-concetta {
    width: 3.6em;
    height: 3.6em;
    background-position: -94.2em 0.05em;
}

.sprite-cooldown {
    width: 1.4em;
    height: 1.4em;
    background-position: -98em -0.1em;
}

.sprite-cross {
    width: 1.5em;
    height: 1.5em;
    background-position: -99.6em -0.05em;
}

.sprite-cross_ {
    width: 1.5em;
    height: 1.5em;
    background-position: -101.3em -0.1em;
}

.sprite-curse {
    width: 1.3em;
    height: 1.4em;
    background-position: -103em -0.1em;
}

.sprite-dommario {
    width: 2.5em;
    height: 3em;
    background-position: -104.5em -0.1em;
}

.sprite-duration {
    width: 1.2em;
    height: 1.3em;
    background-position: -107.2em -0.1em;
}

.sprite-exdash {
    width: 3em;
    height: 3em;
    background-position: -108.6em 0;
}

.sprite-firewand {
    width: 1.4em;
    height: 1.4em;
    background-position: -111.8em -0.1em;
}

.sprite-firewand_ {
    width: 1.4em;
    height: 1.4em;
    background-position: -113.4em -0.1em;
}

.sprite-flowers {
    width: 1.6em;
    height: 1.6em;
    background-position: -115em -0.1em;
}

.sprite-forest {
    width: 15.6em;
    height: 15.6em;
    background-position: -116.8em 2.9em;
}

.sprite-garlic {
    width: 1.1em;
    height: 1.1em;
    background-position: -132.6em -0.1em;
}

.sprite-garlic_ {
    width: 1.2em;
    height: 1.3em;
    background-position: -133.9em -0.1em;
}

.sprite-gennaro {
    width: 2.8em;
    height: 3.2em;
    background-position: -135.3em -0.1em;
}

.sprite-giovanna {
    width: 3em;
    height: 3.1em;
    background-position: -138.3em -0.1em;
}

.sprite-greed {
    width: 1em;
    height: 1em;
    background-position: -141.5em 0;
}

.sprite-growth {
    width: 1.3em;
    height: 1.5em;
    background-position: -142.7em -0.1em;
}

.sprite-guns1 {
    width: 1.6em;
    height: 1.6em;
    background-position: -144.2em -0.1em;
}

.sprite-guns2 {
    width: 1.6em;
    height: 1.6em;
    background-position: -146em -0.1em;
}

.sprite-guns_ {
    width: 1.6em;
    height: 1.6em;
    background-position: -147.8em -0.1em;
}

.sprite-health {
    width: 1.6em;
    height: 1.6em;
    background-position: -149.6em 0.05em;
}

.sprite-imelda {
    width: 3.1em;
    height: 3.2em;
    background-position: -151.4em -0.1em;
}

.sprite-knife {
    width: 1.6em;
    height: 1.6em;
    background-position: -154.7em 0.45em;
}

.sprite-knife_ {
    width: 1.6em;
    height: 1.6em;
    background-position: -156.5em 0.05em;
}

.sprite-krochi {
    width: 2.8em;
    height: 3.2em;
    background-position: -158.3em -0.1em;
}

.sprite-lama {
    width: 2.9em;
    height: 3.2em;
    background-position: -161.3em -0.1em;
}

.sprite-lancet {
    width: 1.3em;
    height: 1.4em;
    background-position: -164.4em -0.1em;
}

.sprite-laurel {
    width: 1.5em;
    height: 1.5em;
    background-position: -165.9em -0.1em;
}

.sprite-leda {
    width: 4.9em;
    height: 4.9em;
    background-position: -167.6em 0.05em;
}

.sprite-library {
    width: 15.6em;
    height: 15.6em;
    background-position: -172.7em 2.9em;
}

.sprite-lightning {
    width: 1.4em;
    height: 1.4em;
    background-position: -188.5em -0.1em;
}

.sprite-lightning_ {
    width: 1.4em;
    height: 1.4em;
    background-position: -190.1em -0.1em;
}

.sprite-luck {
    width: 1.6em;
    height: 1.6em;
    background-position: -191.7em -0.1em;
}

.sprite-magicwand {
    width: 1.4em;
    height: 1.4em;
    background-position: -193.5em -0.1em;
}

.sprite-magicwand_ {
    width: 1.5em;
    height: 1.5em;
    background-position: -195.1em -0.1em;
}

.sprite-magnet {
    width: 1.2em;
    height: 1.2em;
    background-position: -196.8em -0.1em;
}

.sprite-mana {
    width: 1.6em;
    height: 1.6em;
    background-position: -198.2em -0.1em;
}

.sprite-mana_ {
    width: 1.6em;
    height: 1.6em;
    background-position: -200em -0.1em;
}

.sprite-might {
    width: 1em;
    height: 1.4em;
    background-position: -201.8em -0.1em;
}

.sprite-mortaccio {
    width: 2.6em;
    height: 3.5em;
    background-position: -203em -0.1em;
}

.sprite-osole {
    width: 3.1em;
    height: 3.1em;
    background-position: -205.8em 0.4em;
}

.sprite-pasqualina {
    width: 2.8em;
    height: 3.2em;
    background-position: -209.1em -0.1em;
}

.sprite-pentagram {
    width: 1.4em;
    height: 1.4em;
    background-position: -212.1em -0.1em;
}

.sprite-pentagram_ {
    width: 1.4em;
    height: 1.4em;
    background-position: -213.7em -0.1em;
}

.sprite-pinion {
    width: 1.2em;
    height: 1.6em;
    background-position: -215.3em -0.1em;
}

.sprite-pinion_ {
    width: 1.6em;
    height: 1.6em;
    background-position: -216.7em -0.1em;
}

.sprite-plant {
    width: 15.6em;
    height: 15.6em;
    background-position: -218.5em 2.9em;
}

.sprite-poe {
    width: 2.5em;
    height: 2.8em;
    background-position: -234.3em -0.1em;
}

.sprite-poppea {
    width: 2.2em;
    height: 3.1em;
    background-position: -237em -0.1em;
}

.sprite-porta {
    width: 2.3em;
    height: 3.2em;
    background-position: -239.4em -0.1em;
}

.sprite-pugnala {
    width: 2.5em;
    height: 3.8em;
    background-position: -241.9em -0.1em;
}

.sprite-ramba {
    width: 2.5em;
    height: 3.3em;
    background-position: -244.6em -0.1em;
}

.sprite-reaper {
    width: 4.1em;
    height: 4.7em;
    background-position: -247.3em -0.1em;
}

.sprite-recovery {
    width: 1.2em;
    height: 1.2em;
    background-position: -251.6em 0;
}

.sprite-revival {
    width: 1.4em;
    height: 1.5em;
    background-position: -253em -0.1em;
}

.sprite-runetracer {
    width: 1.1em;
    height: 1.1em;
    background-position: -254.6em -0.1em;
}

.sprite-runetracer_ {
    width: 1.5em;
    height: 1.5em;
    background-position: -255.9em -0.1em;
}

.sprite-speed {
    width: 1.6em;
    height: 1.6em;
    background-position: -257.6em -0.1em;
}

.sprite-toastie {
    width: 3em;
    height: 3em;
    background-position: -259.4em 0;
}

.sprite-tower {
    width: 15.6em;
    height: 15.6em;
    background-position: -262.6em 2.9em;
}

.sprite-water {
    width: 1.3em;
    height: 1.6em;
    background-position: -278.4em -0.1em;
}

.sprite-water_ {
    width: 1.4em;
    height: 1.6em;
    background-position: -279.9em -0.1em;
}

.sprite-whip {
    width: 1.5em;
    height: 1.5em;
    background-position: -281.5em -0.05em;
}

.sprite-whip_ {
    width: 1.5em;
    height: 1.5em;
    background-position: -283.2em -0.1em;
}

.sprite-wings {
    width: 1.4em;
    height: 1.4em;
    background-position: -284.9em -0.1em;
}
